<% title "Clube 10" %>

<% if logged_in? -%>
  <ul class="lista-quadras">
    <% for court in Court.all -%>
      <li><%= h court.name %>&nbsp;<%= link_to 'Efetuar reserva', new_reserve_path(:court => court.id) %></li>
    <% end -%>
  </ul>
<% end -%>

