<% title "Home" %>

<% if logged_in? -%>
  <ul id="court-list">
    <% for court in Court.all -%>
      <li><%= image_tag 'sport_soccer.png' %> <%= h court.name %>&nbsp;<%= link_to 'Efetuar reserva', new_reserve_path(:court => court.id), :class => 'action reserve' %></li>
    <% end -%>
  </ul>
<% end -%>

